@use './variables' as *;

:export {
	frostedVeryLight: #{$color-frosted-very-light};
	frostedLight: #{$color-frosted-light};
	frostedMedium: #{$color-frosted-medium};
	frostedDark: #{$color-frosted-dark};
	frostedVeryDark: #{$color-frosted-very-dark};
	frostedVeryDarkGray: #{$color-frosted-very-dark-gray};
}
